html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
  flex: 1 0 auto;
  padding-top: 10px;
}


.footer {
  display: flex;
  justify-content: center;
  color: grey;
  padding: 40px 0 20px 0;
  flex-shrink: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

.card-size {
  width: 175px;
  height: 300px;
  margin: 20px 57px;
  background-color: lightgrey;
}

.Card {
  padding: 20px;
  width: 250px;
}

.card-image {
  height: 300px;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.button {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: black;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.btn-group .button {
  border-radius: 0;
}

.depressed, .depressed .button {
  background: #e5e5e5;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

.btn-group .button:not(:last-child) {
  border-right: none;
}

.btn-group .button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-group .button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-group a:not(:last-child) .button {
  border-right: none;
}

.btn-group a:first-child .button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-group a:last-child .button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.pad {
  padding: 23px;
}

.small-pad {
  padding: 10px;
}


.spread-notes {
  width: 300px;
  height: 100px;
}




a.more-info {
  color: grey;
}

a.more-info:hover {
  color: black;
}




@media only screen and (max-width: 800px) {
  .Tarot {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }


  .limit-width {
    width: 85%;
  }

  .shadow-box {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1),0 2px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1),0 2px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1),0 2px 20px 0 rgba(0, 0, 0, 0.1); 
    padding-bottom: 30px;
  }

  .header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 50px;
  }

  .main-select {
    padding: 20px;
  }

  .logout {
    
  }

  h1 {
    margin-bottom: 0px;
  }

  
}

@media only screen and (min-width: 800px) {
  .Tarot {
    text-align: center;
    width: 100%;
  }


  .limit-width {
    width: 70%;
  }

  .shadow-box {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1),0 2px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1),0 2px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1),0 2px 20px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
  }

  .header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 50px;
  }

  .main-select {
    padding: 35px 20px 20px 20px;
  }

  .top-bar {
  }

  .logout {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }


}

.SpreadList .shadow-box {
  width: 90%;
  border-radius: 10px;
  box-shadow: none;
  margin-bottom: 0px;
}

.sticky {
  flex: 1 0 auto;
}


.full-width {
  width: 100%;
}

input[type="text"].react-datepicker-ignore-onclickoutside {
  text-align: center;
}

textarea::placeholder {
  text-align: center;
}

textarea {
  border: 1px solid lightgrey;
}


.react-datepicker-popper {
  left: -55px !important;
}


